@import url('https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro:200,200i,300i,400,400i,600,600i');
body{
	margin-top: 0;
	font-size: 20px;
	padding:0px;
	margin-right: 0px;
	margin-left: 0px;
}
header {
	height: 400px;
	width: 100%;
	background: url("../images/cookingpic.jpg");
	/*background-size: cover;*/
	margin-bottom: 0;
	margin-right: 0;
}
h1 {
	background: rgba(232,161,156,.5);
	width: 30%;
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 4em;
	font-weight: 200;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-top:5px;
	margin-top:10px;
}
#slogan {
	font-size: 1.5em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	text-align: center;
	font-style: italic;
	color: white;
	background: rgba(232,161,156,.65);
	width: 40%;
	margin-right: auto;
	margin-left: auto;

}
.nav {
	background: white;
	display: inline-block;
	width:28.5%;
	text-align: center;
	margin-left:2%;
	margin-right: 2%;
	text-align: center;
}
.nav:hover {
	background-color:rgba(232,161,156,.65);
	border-top: 4px;

}
hr {
	margin-top: 0;
	width:70px;
	height: 6px;
	border:transparent;
	background-color:rgb(209,97,122);
}
#recipes {
	height: 70px;
	width: 70px;
}
#blogposts {
	height:70px;
	width:70px;
}
#about {
	height:70px;
	width:70px;
}
h2 {
	color:red;
	font-family: Source Sans Pro, sans-serif;
	font-weight: 400i;
	text-align: center;
	margin-top: 0px;
}

h3 {
	color:#FFFFFF;
	font-family: Source Sans Pro, sans-serif;
	text-align: left;
	font-weight: 400i;
}
p {
	font-family: Merriweather, serif;
	color: rgba(181,84,106,.5);
	line-height: 2em;
	font-weight: normal;
	font-size: 15px;
	text-align: left;
	color: red;
	padding-left: 2em;
	padding-right: 2em;
	margin: 1em;

}
.box {
	width:27%;
	height:600px;
	border: transparent;
	display: inline-block;
	margin:2%;
	background: rgba(232,161,156,.6);
	padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
}


