@import url('https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro:200,200i,300i,400,400i,600,600i');
body{
	font-size: 20px;
	padding: 0;
	margin: 0;
}
header {
	width: 100%;
	background: url("../images/cookingpic.jpg");
}
.title {
	padding-top: 1em;
	padding-bottom: 1em;
	width:20em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
h1 {
	background: rgba(232,161,156,.7);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 4em;
	font-weight: 200;
	letter-spacing: 0.15em;
}
#slogan {
	font-size: 1.5em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: white;
	background: rgba(232,161,156,.65);
	padding:0.25em;
}
.nav {
	float:left;
	text-decoration: none;
	background: transparent;
	width:33.3333%;
	height: 4.1em;
	margin: 0;
	margin-bottom: 1em;
	text-align: center;
	padding-bottom: .9em;
	padding-top: .5em;
	color:red;
	font-family: Source Sans Pro, sans-serif;
	font-weight: 400i;
	font-size: 1.1em;
	letter-spacing: 0.07em;
	text-align: center;
	text-decoration:none;
}
.nav:after {
    content: ""; 
    display: block; 
    margin: 0 auto;
    width: 20%;
    padding-top: 0px;
    border-bottom: .7px solid rgba(151,149,149,.7); 
}

.nav:hover {
	background-color:rgba(232,161,156,.7);
}

nav a .topbuttons {
	height: 3em;
	/*display:none;*/
	display: inline-block;
	padding-bottom: .2em;
}

/*nav a:hover > .topbuttons {
	display: inline-block;
}*/

h2 {
	color:red;
	font-family: Source Sans Pro, sans-serif;
	font-weight: 400i;
	font-size: 1.1em;
	letter-spacing: 0.07em;
	text-align: center;
	text-decoration: none;
	padding-bottom: .5em;
}

.blogtitle {
	color:red;
	font-family: Source Sans Pro, sans-serif;
	font-weight: 400i;
	font-size: 1.1em;
	letter-spacing: 0.07em;
	text-align: center;
	text-decoration:none;
	text-align: left;
	margin-bottom: 1em;
}

h3 {
	color:#FFFFFF;
	font-family: Source Sans Pro, sans-serif;
	text-align: left;
	font-weight: 400i;
}
.button_links {
 	text-align: center;
 	font-size: 1em;
 	letter-spacing: 0.07em;
 	text-decoration: none;
 	font-family: Source Sans Pro, sans-serif;
 	font-weight: 400i;
 	padding: .7em;
 	color: red;
 	display: block;
 	width: 23%;
 	margin: 0;
 	background-color: rgba(232,161,156,.7);
 	margin-top: 1.3em;
}

p {
	font-family: Merriweather, serif;
	color: rgba(181,84,106,.5);
	line-height: 2em;
	font-weight: normal;
	font-size: .75em;
	letter-spacing: 0.04em;
	text-align: left;
	color: red;
}
.wrapper {
	width:100%;
	display: inline-block;
	margin: 0 0 1.5em 0;
}
#left {
 	display: inline-block;
    width: 46%;
    margin-top: 1em;
    margin-right: 0;
    padding-right: .5em;
    border-right: .1em solid #979595;
}
.food_images {
	display: inline-block;
	margin-left: auto;
    margin-right: 1em;
    width: 100%
}
.blog_body {
	vertical-align: top; 
	display: inline-block;
	width: 50%;
	margin: 1em 0 2.5em 0;
	padding-left: .5em;
	padding-bottom: 0;

}

footer {
	width: 100%;
	padding: 1em;
	background-color: rgba(232,161,156,.7);
	height: 4em;
}
#footer_section {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
	width: 30%;
	text-align: center;
}
 .footer_text {
 	font-family: Source Sans Pro, sans-serif;
 	font-size: 1em;
 	letter-spacing: 0.01em;
 	text-decoration: none;
 	color: red;
 	padding: .2em;
 }
 @media only screen and (max-width: 1165px) {
 	.button_links {
 		margin-top: .9em;
 	}
 	#left {
 		padding-bottom: 1em;
 	}
 	.wrapper {
 		margin-bottom: 0;
 	}
 }
 @media only screen and (max-width: 1075px) {
 	body {
 		font-size: 18px;
 	}
 	.blog_body {
 		width: 60%;
 	}
 	#left {
 		width: 36%;
 		padding-bottom: 0;
 	}
 	.button_links {
 		padding: .5em;
 	}
 }
  @media only screen and (max-width: 1000px) {
 	#footer_text {
 		text-align: center;
 	}
 	#footer_section {
		width: 70%;
	}
 }
 @media only screen and (max-width: 800px) {
 	#wrapper, #left {
 	display: block;
 	width:auto;
 	}
 	.blog_body {
 		width: 97%;
 	}
 	#left {
 		border-right: none;
 		width: 100%;
 	}
 	.button_links {
 		margin-top: 1.2em;
 	}
 }
 @media only screen and (max-width: 485px) {
 	.button_links {
 		width: 35%;
 		padding: 1em;
 		display: block;
 		margin-left: auto;
 		margin-right: auto;
 	}
 	#footer_section {
		width: 80%;
	}
 }