@import url('https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro:200,200i,300i,400,400i,600,600i');
body{
	font-size: 20px;
	padding: 0;
	margin: 0;
}
header {
	/*height: 480px;*/
	height: 38%;
	width: 100%;
	background: url("../images/cookingpic.jpg");
/*	margin-top: 0;*/
}
.title {
	padding-top: 1em;
	padding-bottom: 1em;
	width:20em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
h1 {
	background: rgba(232,161,156,.7);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 4em;
	font-weight: 200;
	letter-spacing: 0.15em;
}
#slogan {
	font-size: 1.5em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	/*text-align: center;*/
	color: white;
	background: rgba(232,161,156,.65);
	padding:0.25em;
	/*width: 30%;
	margin:.5em auto 1em auto;*/
}
nav {
	margin-bottom: 3em;
}
.nav {
	float:left;
	text-decoration: none;
	background: transparent;
	width:33.33%;
	height: 100px;
	margin:0;
	text-align: center;
	padding-bottom: .5em;
	padding-top: .5em;
}
.nav:hover {
	background-color:rgba(232,161,156,.7);
	border-top: 4px;
}

nav a .topbuttons {
	height:70%;
	display:none;
	padding-top: .5em;
}

nav a:hover > .topbuttons {
	display: inline-block;
}

}
hr {
	margin: 0;
	width:70px;
	height: 6px;
	background-color:rgb(232,161,156);
	border:none;
	width: 100%
}

h2, a {
	color:red;
	font-family: Source Sans Pro, sans-serif;
	font-weight: 400i;
	font-size: 24px;
	letter-spacing: 0.12em;
	text-align: center;
}
#blogtitle {
	text-align: left;
}

h3 {
	color:#FFFFFF;
	font-family: Source Sans Pro, sans-serif;
	text-align: left;
	font-weight: 400i;
}
p {
	font-family: Merriweather, serif;
	color: rgba(181,84,106,.5);
	line-height: 2em;
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 0.04em;
	text-align: left;
	color: red;

}
button {
 	background-color: rgba(232,161,156,.7);
 	border:none;
 	padding top: 2px;

}
footer {
	height: 500px
	width: 100%;
	margin: 0;
	padding: 0;
}

#footer_text{
	margin: 0;
}


