body{
	font-family: Helvetica;
	background: url("https://s-media-cache-ak0.pinimg.com/originals/1b/81/60/1b81602bdfe873fdb79ac5022f324d82.jpg");
}
header {
	height: 340px;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
}
nav{
	display:block;
}
h1 {
	background: rgba(232,161,156,.65);
    color:white;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 90px;
	text-align: center;
	padding-top: 10px;
}
#slogan {
	font-size: 26px;
	text-align: center;
	font-style: italic;
	color: white;
	background: rgba(232,161,156,.65);
}

h2 {
	color:red;
	font-family: Helvetica;
	text-align: center;
}
h3{
	color:#FFFFFF;
	font-family: Helvetica;
	text-align: left;
	font-weight: normal
}
p {
	font-family: Helvetica;
	font-weight: normal;
	font-size: 15px;
	text-align: left;
	color: red;
}
.box {
	width:27%;
	height:70px;
	border: transparent;
	display: inline-block;
	margin:2%;
	background: rgba(232,161,156,.65);
	padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
}


